/* Side Nav */
.sidenav {
  height: 100%;
  width: 90px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-image: linear-gradient(#ffffff, #707070);
  overflow-x: hidden;
}

.hamburger-position {
  position: fixed;
  top: 50%;
  left: 2%;
}

.openbtn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
}

.openbtn:focus {
  outline: none;
}

.hamburger-menu {
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  margin: 6px 0;
}

.closebtn {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.closebtn:focus {
  outline: none;
}

.line-first {
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  transform: rotate(45deg);
}

.line-second {
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  transform: rotate(-45deg);
  margin: -3px 0;
}

/* Side Drawer */
#main {
  transition: margin-left 0.5s;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(#ffffff, #707070);
  overflow-x: hidden;
  transition: 0.5s;
  margin-left: 90px;
}

.lh-header-fade {
  color: #e8594e;
  font-weight: 800;
  font-size: 30px;
  margin: 25px 0 15px 0;
  text-align: left;
  opacity: 0;
  transition: 0.3s;
  animation: lh-fade 0.3s ease-in both;
  animation-delay: 0.3s;
  font-family: 'Poppins-SemiBold';
}

@keyframes lh-fade {
  from {
    opacity: 0;
    transform: translate3d(0, -30%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.nav-menu {
  list-style: none;
  padding: 0;
}

.nav-option a {
  padding: 8px 8px 8px 0;
  text-decoration: none;
  font-size: 22px;
  color: #888888;
  display: block;
  opacity: 0;
  transition: 0.7s;
  animation: nav-fade 0.7s ease-in both;
  animation-delay: 0.7s;
  font-family: 'Poppins-SemiBold';
}

@keyframes nav-fade {
  from {
    opacity: 0;
    transform: translate3d(0, -30%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.nav-option.active {
  color: #e8594e;
  font-weight: 700;
  border-bottom: 2px solid #e8594e;
  padding-left: 15px;
}

/* Main Container */
.main-container {
  padding-left: 90px;
  padding-right: 0;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* Side Nav */
  .sidenav {
    height: 0;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-image: linear-gradient(#ffffff, #707070);
    overflow-x: hidden;
  }

  /* LH Header */

  .hamburger-position {
    position: fixed;
    top: 0;
    left: 10px;
    margin-top: 16px;
  }

  .hamburger-menu {
    width: 25px;
    height: 2px;
    background-color: #bbbbbb;
    margin: 6px 0;
  }

  .line-first {
    width: 23px;
    height: 2px;
    background-color: #bbbbbb;
    transform: rotate(45deg);
  }

  .line-second {
    width: 23px;
    height: 2px;
    background-color: #bbbbbb;
    transform: rotate(-45deg);
    margin: -2px 0;
  }

  /* Sidebar */
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(#ffffff, #707070);
    overflow-x: hidden;
    transition: 0.5s;
    margin-left: 0;
  }

  .lh-header-fade {
    display: none;
  }

  /* Nav Menu */
  .nav-menu {
    list-style: none;
    padding: 0;
    margin-top: 55px;
  }

  .nav-option a {
    padding: 8px 8px 8px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #888888;
    display: block;
    opacity: 0;
    transition: 0.5s;
    animation: nav-fade 0.5s ease-in both;
    animation-delay: 0.5s;
    text-align: left;
    font-family: 'Poppins-SemiBold';
  }

  /* Main Container */
  .main-container {
    padding-left: 0;
  }
}
