body {
  background: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'FiraSans-SemiBold';
  src: url('/public/fonts/FiraSans-SemiBold.ttf') format('embedded-opentype');
}

@font-face {
  font-family: 'FiraSans-Medium';
  src: url('/public/fonts/FiraSans-Medium.ttf') format('embedded-opentype');
}

@font-face {
  font-family: 'FiraSans-Regular';
  src: url('/public/fonts/FiraSans-Regular.ttf') format('embedded-opentype');
}
